
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    font-style: normal;
}

body{
    background-color: white;
}

header {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.title {
    color: #000000;
    text-align: center;
    font-size: 45px;

}

#seperator {
    padding-top: 50px;
    width: 200px;
}

.article{
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    margin: auto;
}

.article-img {
    border-radius: 10px;
}

.article-title {
    font-size: 23px;
    margin-left: 50px;
    color: #000000;
}

.date {
    display: block;
    margin-top: 15px;
    font-weight: normal;
    font-size: 16px;
    color: #343131;
}

@media screen and (max-width: 600px){
    header {
        width: 95%;
    }
    
    .title {
        font-size: 40px;
    }
    
    .article {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .article-img {
        margin-bottom: 30px;
    }

    .article-title {
        font-size: 25px;
        width: 90%;
        margin-left: 0;
    }
}